######################################################################################
#                                   GITIGNORE FILE
######################################################################################

.env
.vscode
*.tfstate
*.tfstate.backup
*.terraform/
*.lock.hcl
*variables.tf