- name: Install docker-compose
  get_url: 
    url : https://github.com/docker/compose/releases/download/1.25.1-rc1/docker-compose-Linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: 'u+x,g+x,u+r,g+r'

- name: move docker compose file to slave
  copy:
    src: files/docker-compose.yml
    dest: /home/ubuntu